@model IEnumerable<LMS_System.Models.Document>

@{
    ViewBag.Title = "IndexFiles";
}

<h2>IndexFiles</h2>

<p>
    @{
        if (ViewBag.parentId != null)
        {
            <div>@Html.ActionLink("Upload file", "CreateUpload", new { parentId = ViewBag.parentId })</div>
        }
    }
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            Sender
        </th>
        <th>
            Role
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
     @{
         string Filename;
         string name = item.Name;

         //int pos = name.IndexOf()

         char delimiter = '_';
         string[] words = name.Split(delimiter);


         if (words.Count() > 5)
         {
             //int total = words.Count();
             //string w;
             //for (int i = words.Count()-1; i < words.Count(); i++)
             //{
             //    Filename = Filename+words[i];
             //}
             string w1 = words[4];
             string w2 = words[5];
             Filename = w1 + "_" + w2;

         }

         else
         {
             Filename = words[4];

         }


        <div>
            @Html.ActionLink(Filename, "Download", new { FileName = @item.Name });
        </div>
    }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.AppUser.FullName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.AppUser.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @if (ViewBag.parentId != null)
            {
                int? parentId = ViewBag.parentId;
                <div>@Html.ActionLink("Delete", "DeleteFile", new { id = item.Id, parentId = ViewBag.parentId })</div>
                <div>@Html.ActionLink("Edit", "EditFile", new { id = item.Id, parentId = ViewBag.parentId })</div>
            }
        </td>
    </tr>
}

</table>
