@model LMS_System.Models.RegisterViewModel

<h2>Course: @ViewBag.CourseName</h2>

<hr/>
<h3>Enrolled students</h3>

<table class="table">
    <tr>
        <th>
            <a href="?orderby=FirstName">FirstName</a>
        </th>
        <th>
            <a href="?orderby=LastName">LastName</a>
        </th>
        <th>
            <a href="?orderby=Email">Email</a>
        </th>
        <th></th>
    </tr>

    @foreach (var student in ViewBag.Students)
    {
    <tr>
        <td>
            @student.FirstName
        </td>
        <td>
            @student.LastName
        </td>
        <td>
            <a href="mailto:@student.Email">@student.Email</a>
        </td>

        @if (User.IsInRole("teacher"))
        {
        <td>
            @Html.ActionLink("Edit", "Edit", "Appusers",  new { id = student.Id }, null) |

            @Html.ActionLink("Details", "Details", "Appusers", new { id = student.Id, CourseId = ViewBag.CourseId }, null) |

            @Html.ActionLink("Delete", "Delete", "Appusers", new { id = student.Id }, null)
        </td>
        }

    </tr>
    }

</table>

@if (User.IsInRole("teacher"))
{
    <h2>Register new student</h2>
    using (Html.BeginForm("Register", "Account", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <input type="hidden" name="role" value="student" />

            @Html.Hidden("role", "student")
            @Html.Hidden("Id", (int?)ViewBag.CourseId)
     

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Register" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}
<div>
    @Html.ActionLink("Back to course", "Details", "Courses", new { id = (int ?)ViewBag.CourseId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
