@model LMS_System.Models.Course

@{
    ViewBag.Title = "Course Details";
}

<head>
    <link rel="stylesheet" href="~/Content/CourseDetails.css" type="text/css" />
</head>

<h3>Details for course @Model.Name</h3>

@Html.ActionLink("Upload or view files", "IndexFiles", new { parentId = Model.Id })

@if (User.IsInRole("teacher"))
{
<div>
    @Html.ActionLink("Add module", "Create", "Modules",
                                                       new { id = Model.Id },
                                                       new { @class = "btn btn-default" })
    @Html.ActionLink("Add student", "CourseTeacherView", "Account",
                                                       new { id = Model.Id, orderBy = "firstname" },
                                                       new { @class = "btn btn-default" })
    @Html.ActionLink("Show Schedule", "Schedule", "Courses",
                                                       new { id = Model.Id },
                                                       new { @class = "btn btn-default" })

</div>
}
else
{
    <div>
        @Html.ActionLink("Show students", "CourseTeacherView", "Account",
                                                 new { id = Model.Id, orderBy = "firstname" },
                                                 new { @class = "btn btn-default" })
        @Html.ActionLink("Show Schedule", "Schedule", "Courses",
                                                       new { id = Model.Id },
                                                       new { @class = "btn btn-default" })
    </div>
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            Modules
        </dt>

        <dd>
            <br/>
            <table class="table table-bordered lms">
                <thead>
                    <tr>
                        <th>
                            <a href="?orderby=name" data-toggle="tooltip" title="Sort by name">Name</a>
                        </th>
                        <th>
                            <a href="?orderby=startdate" data-toggle="tooltip" title="Sort by start date">Start Date</a>
                        </th>
                        <th>
                            <a href="?orderby=enddate" data-toggle="tooltip" title="Sort by end date">End Date</a>
                        </th>
                        <th>
                            <a href="?orderby=duration" data-toggle="tooltip" title="Sort by duration">Duration</a>
                        </th>
                        @if (User.IsInRole("teacher"))
                        {
                        <th>
                            <a href="#"> Administration</a>
                        </th>
                        }
                    </tr>
                </thead>
                @if (User.IsInRole("student"))
                {
                    foreach (var module in Model.Modules)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(@module.Name, "Details", "Modules",
                                                 new { id = module.Id, courseID = Model.Id },
                                                 new { data_toggle = "tooltip", title = module.Description })
                            </td>
                            <td>
                                @module.StartDate.ToShortDateString()
                            </td>
                            <td>
                                @module.EndDate.ToShortDateString()
                            </td>
                            <td>@module.Days days</td>
                        </tr>
                    }
                }
                else
                {
                    foreach (var module in Model.Modules)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(@module.Name, "Details", "Modules",
                                                 new { id = module.Id, courseID = Model.Id },
                                                 new { data_toggle = "tooltip", title = module.Description})
                            </td>
                            <td>
                                @module.StartDate.ToShortDateString()
                            </td>
                            <td>
                                @module.EndDate.ToShortDateString()
                            </td>
                            <td>
                                @module.Days days
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Modules", new { id = module.Id, courseID = Model.Id }, null) |
                                @Html.ActionLink("Delete", "Delete", "Modules", new { id = module.Id, courseID = Model.Id }, null)
                            </td>
                            @if (Model.StartDate > module.StartDate || Model.EndDate < module.EndDate || module.StartDate > module.EndDate)
                            {
                                <td>
                                    Some dates are out of bounds!
                                </td>
                            }
                        </tr>
                    }

                }
            </table>
        </dd>
    </dl>
    <br/>
</div>
<p>
@if (User.IsInRole("teacher"))
{
    @Html.ActionLink("Edit", "Edit", "Courses", new { Id = Model.Id }, null) <span>|</span>
}
    @Html.ActionLink("Back to course list", "Index")
</p>
