@model LMS_System.Models.Course

@{
    ViewBag.Title = "Course Details";
}
<head>
    <link rel="stylesheet" href="~/Content/CourseDetails.css" type="text/css" />
</head>

<h3>Details for course @Model.Name</h3>
@if (User.IsInRole("teacher"))
{
<div>
    @Html.ActionLink("Add module", "Create", "Modules",
                                                       new { id = Model.Id },
                                                       new { @class = "btn btn-default" })
    @Html.ActionLink("Add student", "CourseTeacherView", "Account",
                                                       new { id = Model.Id, orderBy = "firstname" },
                                                       new { @class = "btn btn-default" })
</div>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            Modules
        </dt>

        <dd>
            <table>
                @if (User.IsInRole("student"))
                {
                    foreach (var module in Model.Modules)
                    {
                        <tr>
                            <td class="tablemargin">
                                @Html.ActionLink(@module.Name, "Details", "Modules",
                                                 new { id = module.Id, courseID = Model.Id },
                                                 null)
                            </td>
                            <td class="tablemargin">
                                @module.StartDate.ToShortDateString() - @module.EndDate.ToShortDateString()
                            </td>
                            <td class="tablemargin">@module.Days days</td>
                        </tr>
                    }
                    <tr>
                        <td class="tablemargin">
                            <div>
                                @Html.ActionLink("Show students", "CourseTeacherView", "Account",
                                                 new { id = Model.Id, orderBy = "firstname" },
                                                 new { @class = "btn btn-default" })
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var module in Model.Modules)
                    {
                        <tr>
                            <td class="tablemargin">
                                @Html.ActionLink(@module.Name, "Details", "Modules", 
                                                 new { id = module.Id, courseID = Model.Id }, 
                                                 null)
                            </td>
                            <td class="tablemargin">
                                @module.StartDate.ToShortDateString() - @module.EndDate.ToShortDateString()
                            </td>
                            <td class="tablemargin">@module.Days days</td>
                            <td class="tablemargin">
                                @Html.ActionLink("Edit", "Edit", "Modules", new { id = module.Id }, null) |
                                @Html.ActionLink("Delete", "Delete", "Modules", new { id = module.Id, courseID = Model.Id }, null)
                            </td>
                            @if (Model.StartDate > module.StartDate || Model.EndDate < module.EndDate || module.StartDate > module.EndDate)
                            {
                                <td class="tablemargin">
                                    Some dates are out of bounds!
                                </td>
                            }
                        </tr>
                    }

                }
            </table>
        </dd>
    </dl>
    <br/>
</div>
<p>
@if (User.IsInRole("teacher"))
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span>|</span>
}
    @Html.ActionLink("Back to Course List", "Index")
</p>
