@model IEnumerable<LMS_System.Models.Course>

@{
    ViewBag.Title = "Courses";
}


<h2>Courses Overview</h2>

@if (User.IsInRole("teacher"))
    {
<p>
    @Html.ActionLink("Add new course", "Create", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Add teacher", "RegisterTeacher", "Account", null, new { @class = "btn btn-default" })
</p>
}

<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th width="15%">Adminitration</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", "Courses", new { id = item.Id }, null)
        </td>
        <td style="">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>


        <td>
            <ul class="list-inline">
                @if (User.IsInRole("teacher"))
                {

                    @*@Html.Action("CourseTeacherView","Accounts" )*@
                    <li class="tinyli">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })</li>
                    <li class="tinyli">@Html.ActionLink("Details", "Details", "Courses", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })</li>
                    <li class="tinyli">@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })</li>

                }
                else
                {

                    <li class="tinyli">@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })</li>

                }
                </ul>

</td>
    </tr>
}

</table>
