@model IEnumerable<LMS_System.Models.Course>

@{
    ViewBag.Title = "Courses";
}


<h2>Courses Overview</h2>
<br />
<br />
@if (User.IsInRole("teacher"))
    {
<div class="control">
    <a href="@Url.Action("Create", "Courses")" class="btn btn-default"><span class="glyphicon glyphicon-certificate"></span> Add new course</a>
    <a href="@Url.Action("RegisterTeacher", "Account")" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Add teacher</a>

</div>
}
<hr/>


<table class="table table-bordered lms">
    <thead>
        <tr>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th class="descriptioncolumn">
                <a href="#">@Html.DisplayNameFor(model => model.Description)</a>
            </th>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.StartDate)</a>
            </th>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.EndDate)</a>
            </th>
            <th><a href="#">Administration</a></th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Courses", new { id = item.Id }, null)
                </td>
                <td style="">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>


                <td>
            
                        @if (User.IsInRole("teacher"))
                        {

                            @*@Html.Action("CourseTeacherView","Accounts" )*@

                           @Html.ActionLink("Edit", "Edit", new { id = item.Id })<span> |</span>
                           @Html.ActionLink("Details", "Details", "Courses", new { id = item.Id },null) <span> |</span>
                             @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                        }
                        else
                        {
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                        }
                   

</td>
            </tr>
        }

</table>
@{
    if (User.IsInRole("student"))
    {
        List<LMS_System.Models.Activity> deadlineact = ViewBag.deadlineact;
        var dcnt = deadlineact.Count();
        if (dcnt > 0)
        {



        <div id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <br />
                    <img class="img-responsive" style="display: block; margin-left: auto; margin-right: auto;" src="~/Images/threat.jpg" />
                    <h1 style="text-align:center">Du måste ladda upp inlämningsuppgifter</h1>
                   
                        <div style="text-align:center">
                            @foreach (var item in deadlineact)
                            {
                            <h2>
                                @Html.ActionLink(item.Name, "Details", "Activities", new { id = item.Id }, null)

                            </h2>
                            }
                        </div>
                   
                </div>
            </div>
        </div>


        <script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
        </script>
                //$('#myModal').on('hidden.bs.modal', function (event) {
                //    alert("ok");
                //    $('#myModal').modal('show');
                //}
                //$('#myInput').modal('show');
                //$('#myInput').focus()


            };
        }
    }
