@model IEnumerable<LMS_System.Controllers.ScheduleItem>

@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>
<div  class="btn btn-default">
    <span class="glyphicon glyphicon-print"></span>
    <a href="#" onClick="window.print()">Print schedule</a>
</div>

<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Day
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modulename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activityname)
        </th>
    </tr>

@foreach (var item in Model) {


        if (item.Date.DayOfWeek != DayOfWeek.Saturday && item.Date.DayOfWeek != DayOfWeek.Sunday)
        {
            <tr>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date.DayOfWeek)
                </td>

                @if(item.Modulename != null)
                {
                    <td>@Html.DisplayFor(modelItem => item.Modulename)</td>
                }
                else
                {
                    if (User.IsInRole("teacher"))
                    {
                    <td>@Html.ActionLink("Add module", "Create", "Modules", new { Id = item.CourseId, StartDate = item.Date.ToShortDateString(), ReturnToSchedule=true }, new { @class = "btn btn-default btn-xs" })</td>
                    }
                    else
                    {
                        <td></td>
                    }
                }

                @if (item.Activityname != null)
                {
                    <td>@Html.DisplayFor(modelItem => item.Activityname)</td>
                }
                else
                {
                    if (item.Modulename != null)
                    {
                        if (User.IsInRole("teacher"))
                        {
                            <td>@Html.ActionLink("Add activity", "Create", "Activities", new { ModuleId = item.ModuleId, StartDate = item.Date.ToShortDateString(), ReturnToSchedule = true, CourseId = item.CourseId }, new { @class = "btn btn-default btn-xs" })</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                    else
                    {
                        <td></td>
                    }


                            }

            </tr>
        }
        else
        {
            <tr>
                @if(item.Date.DayOfWeek == DayOfWeek.Sunday)
                {
                <td class="weekendtype">
                    @item.Date.ToShortDateString()
                </td>
                <td class="weekendtype">
                    @Html.DisplayFor(modelItem => item.Date.DayOfWeek)
                </td>
                }
                else
                {
                    <td>
                        @item.Date.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date.DayOfWeek)
                    </td>
                }
                <td></td>
                <td></td>

            </tr>


            if(item.Date.DayOfWeek == DayOfWeek.Sunday)
            {
                <tr>
                    <td colspan="4"><b>Week: @ApplicationHelpers.WeekNumber(item.Date.AddDays(1))</b></td>

                </tr>
                                }
                            }

                        }

</table>
