<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LMS SYSTEM</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a href="/Courses"><img src="~/Images/logo-lexicon2x.gif" width="150"/></a>
            </div>
            <div class="navbar-collapse collapse">
               
                    <ul class="nav navbar-nav">
                        @if (User.IsInRole("teacher"))
                        {
                           
                            <li> @Html.ActionLink("Home", "Index", "Courses")</li>
                            @*<li>@Html.ActionLink("User Manager", "Index", "Appusers")</li>*@
                        }
                        else
                        {
                            if (ViewContext.RouteData.Values["id"] != null)
                            {
                            <li>@Html.ActionLink("Home", "Details", "Courses", new { id = ViewContext.RouteData.Values["id"] }, null)</li>
                            }
                        }
                        
                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


    <div class="container body-content">
        <!-- #region Breadcrumb -->
        @{
            @Html.Raw(Html.BuildBreadcrumbNavigation("", "", ""));
        }
        <!-- #endregion -->


        @RenderBody()
        <hr />
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
