<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LMS System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - LMS System</p>
        </footer>
        <p>Färdiga User Stories:</p>
        <ul>
            <li>@Html.ActionLink("Som användare vill jag kunna logga in", "Login", "Account")</li>
            <li>@Html.ActionLink("Som lärare vill jag kunna lägga till elever", "RegisterStudent", "Account")</li>
            <li>@Html.ActionLink("Som lärare vill jag kunna lägga till andra lärare", "RegisterTeacher", "Account")</li>
            <li>@Html.ActionLink("Som lärare vill jag kunna lägga till/redigera/ta bort moduler", "Index", "Modules")</li>
            <li>@Html.ActionLink("Som lärare vill jag kunna lägga till/redigera/ta bort kurser", "Index", "Courses")</li>
        </ul>
        <ul>
            <li>@Html.ActionLink("Som lärare vill jag kunna se aktiviteter", "Index", "Activities")</li>
        </ul>
            <p>Temporära övriga länkar:</p>
            <ul>
                <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                <li>@Html.ActionLink("Kurser", "Index", "Courses")</li>
            </ul>

</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
